
    <h2>Навигация</h2>

    <p>
    {% set current_time = "now"|date("H:i:s") %}
        {{ current_time }}</p> 
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/user">Все пользователи</a></li>
    </ul>
