body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.content {
    flex: 1;
    padding: 20px;
}

.sidebar {
    width: 300px; /* Ширина боковой колонки */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}
